@using Application.Features.Persons.Queries
@using Infrastructure.Authentification
@using Infrastructure.Authorization
@using MediatR
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Servitium.Infrastructure
@using Servitium.Pages
@inject RoleSelectionService RoleSelectionService
@inject ISender Sender
@{
    var selectedRole = await RoleSelectionService.GetSelectedRole();
}
<ul class="navbar-nav">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-page="@Routes.Index">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-page="@Routes.ServiceProvidersIndex">Service providers</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-page="@Routes.Privacy">Privacy</a>
    </li>
    @switch (selectedRole)
    {
        case ApplicationRoles.Admin:
            <li class="nav-item">
                <a class="nav-link text-dark" asp-page="@Routes.UsersIndex">Users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-page="@Routes.PersonsAdminIndex">Persons</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-page="@Routes.AppointmentsAdminIndex">Appointments</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-page="@Routes.HealthCertificateTemplatesAdminIndex">Templates</a>
            </li>
            break;
        case ApplicationRoles.Manager:
            <li class="nav-item">
                <a class="nav-link text-dark" asp-page="@Routes.PersonsManagerIndex">Persons</a>
            </li>
            break;
        case ApplicationRoles.Specialist:
            break;
        case ApplicationRoles.Client:
            <li class="nav-item">
                <a class="nav-link text-dark" asp-page="@Routes.AppointmentsIndex">Appointments</a>
            </li>
            break;
        case ApplicationRoles.Unauthenticated:
            <li class="nav-item">
                <a class="nav-link text-dark" asp-page="@Routes.ClientCreate" asp-route-id="@User.GetUserId()">Promote to a client</a>
            </li>
            break;
    }
</ul>