@using Infrastructure.Authorization
@using Servitium.Infrastructure
@using Servitium.Pages
@inject RoleSelectionService roleSelectionService
@{
    var selectedRole = await roleSelectionService.GetSelectedRole();
}
<ul class="navbar-nav">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-page="@Routes.Index">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-page="@Routes.ServiceProvidersIndex">Service providers</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-page="@Routes.Privacy">Privacy</a>
    </li>
    @if (selectedRole == ApplicationRoles.Admin)
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-page="@Routes.UsersIndex">Users</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-page="@Routes.AppointmentsAdminIndex">Appointments</a>
        </li>
    }
    else if (selectedRole == ApplicationRoles.Manager)
    {
        
    }
    else if (selectedRole == ApplicationRoles.Specialist)
    {
    }
    else if (selectedRole == ApplicationRoles.Client)
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-page="@Routes.AppointmentsIndex">Appointments</a>
        </li>
    }
</ul>